body{
    margin:0;
    font-family: sans-serif;
    background: #f5f7fb;
}

header{
    
    top: 0;
    background: white;
}

header h1{
    font-size: 24px;
    margin: 0;
}

.headerButton button{
    margin-left: 10px;

    padding: 6px 20px;

}

.container{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.panel{
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);

    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

.panel label{
    display: block;
    margin-top: 15px;
}

.panel input,
.panel select{
    width: 100%;
    height: 35px;
    font-size: 16px;
    margin-top: 5px;
}

.tabs{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}

.tabs button{
    flex: 1;
}

#product,
#machine,
#inspection,
#observe{
    display: none;
}

.timeBox{
    display: flex;
    gap:10px;
    align-items: center;
}

.timeBox input{
    flex:1;
}

.timeBox button{
    width: 100px;
    height: 35px;   
}

.inputUnit{
    display: flex;
    align-items: center;
    gap: 8px;
}

.inputUnit input{
    width: 150px;
}

.inputUnit span{
    font-size: 16px;
}

.modal {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);

    z-index: 1000;
}

.modalContent {
    background: white;

    width: 80%;
    max-width: 700px;

    max-height: 80vh;
    overflow-y: auto;

    margin: 5% auto;
    padding: 20px;

    border-radius: 10px;
}